extends baseEmail
block content
    p Hello, #{userName}
    p
        | We received a request to reset your real-chat account password. If this
        | was initiated by you, please click the link below to proceed with changing
        | your password.
    p
        a.button(href=`${url}`) Click here to reset your password
    p
        | If you did not request a password change, please contact our support team
        | for assistance.
    p
        | Best regards,
        br
        | Real-Chat Support Team