@tailwind base;
@tailwind components;
@tailwind utilities;

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}

@keyframes slideInRight {
  0% {
    transform: translateX(-250px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideOutRight {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(-50px);
    opacity: 0;
  }
}

.popUp {
  position: absolute;
  top: -10px;
  left: 150%;
  width: 300px;
  height: 97vh;
  background-color: #94a3b8;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  display: none;
}

.popUp.active {
  display: block;
  animation: slideInRight 0.3s ease-out forwards;
}

.popUp.hidden {
  display: block;

  animation: slideOutRight 0.3s ease-out forwards;
}

.contactpopUp {
  position: absolute;
  top: -76px;
  left: 150%;
  width: 300px;
  height: 99vh;
  background-color: #94a3b8;

  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* display: none; */
}
.contactpopUp.active {
  display: block;
  animation: slideInRight 0.3s ease-out forwards;
}

.contactpopUp.hidden {
  display: block;
  animation: slideOutRight 0.3s ease-out forwards;
}

.bellpopUp {
  position: absolute;
  top: -143px;
  left: 150%;
  width: 300px;
  height: 99vh;
  background-color: #94a3b8;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  display: none;
}
.bellpopUp.active {
  display: block;
  animation: slideInRight 0.3s ease-out forwards;
}

.bellpopUp.hidden {
  display: block;

  animation: slideOutRight 0.3s ease-out forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
